<!doctype html>
<html lang="en">
<head>
    {% include "head.html" %}
    <title>Github Trending Tracker</title>
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="#">Index</a>
            <a class="nav-item nav-link" href="#">Search</a>
            <a class="nav-item nav-link" href="#">API</a>
            <a class="nav-item nav-link" href="#">About</a>
        </div>
    </div>
</nav>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4 text-center">Github Trending Tracker</h1>
        <p class="lead text-center">See what's popular now and what's popular in the past</p>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="container-fluid">
            <select class="selectpicker float-right" id="daterange">
                {% with "daily weekly monthly" as my_list %}
                {% for date in my_list.split %}
                {% if since == date %}
                <option data-tokens={{date}} selected="selected">{{date}}</option>
                {% else %}
                <option data-tokens={{date}}>{{date}}</option>
                {% endif %}
                {% endfor %}
                {% endwith %}
            </select>

            <select class="selectpicker float-right" data-live-search="true" id="language">
                {% for code, name in selector %}
                {% if page == code %}
                {% if code == '/'%}
                <option data-tokens="" selected="selected">{{ name }}</option>
                {% else %}
                <option data-tokens={{code}} selected="selected">{{ name }}</option>
                {% endif %}
                {% else %}
                {% if code == '/'%}
                <option data-tokens="">{{ name }}</option>
                {% else %}
                <option data-tokens={{code}}>{{ name }}</option>
                {% endif %}
                {% endif %}
                {% endfor %}
            </select>
        </div>
    </div>

    {% include "cards.html" %}
</div>

{% include "scripts.html" %}
<script>
    $(document).on('change', '#daterange', on_dropdown_change);
    $(document).on('change', '#language', on_dropdown_change);

    function on_dropdown_change() {
        var daterange = $('#daterange').find(":selected").attr('data-tokens');
        var language = $('#language').find(":selected").attr('data-tokens');
        window.location = 'https://githubtr.com/trending/' + language + "?since=" + daterange;
        // window.location = 'http://0.0.0.0:8000/trending/' + language + "?since=" + daterange;
    }
</script>
</body>
</html>