{% extends 'base.html' %}

{% block head_content %}
<title>Github Trending Tracker</title>
{% endblock %}

{% block body_content %}
{% include "nav_trending.html" %}
<div class="container-fluid">

    <!-- 2 selectors -->
    <div class="row">
        <div class="container-fluid">
            <select class="selectpicker float-right" id="daterange">
                {% with "daily weekly monthly" as my_list %}
                {% for date in my_list.split %}
                {% if since == date %}
                <option data-tokens={{date}} selected="selected">{{date}}</option>
                {% else %}
                <option data-tokens={{date}}>{{date}}</option>
                {% endif %}
                {% endfor %}
                {% endwith %}
            </select>

            <select class="selectpicker float-right" data-live-search="true" id="language">
                {% for code, name in selector %}
                {% if page == code %}
                {% if code == '/'%}
                <option data-tokens="" selected="selected">{{ name }}</option>
                {% else %}
                <option data-tokens={{code}} selected="selected">{{ name }}</option>
                {% endif %}
                {% else %}
                {% if code == '/'%}
                <option data-tokens="">{{ name }}</option>
                {% else %}
                <option data-tokens={{code}}>{{ name }}</option>
                {% endif %}
                {% endif %}
                {% endfor %}
            </select>
        </div>
    </div>

    <!-- cards -->
    <div class="container-fluid" id="cards">
        {% for item in trending %}
        <div class="card">
            <div class="card-body">
                <div class="container-fluid">
                    <div class="row">
                        <h4><a href="#">{{item.author}}</a>/<b><a href="#">{{item.repo_name}}</a></b></h4>
                        <div class="ml-auto"><p class="float-right">{{item.rank}}</p></div>
                    </div>
                </div>

                <p class="card-text">{{item.description}}</p>
                {% if item.lang != "" %}
                <p class="card-text">{{item.lang}}, {{item.star}} stars, {{item.fork}} forks</p>
                {% else %}
                <p class="card-text">{{item.star}} stars, {{item.fork}} forks</p>
                {% endif %}

            </div>
        </div>
        {% endfor %}

    </div>
</div>
{% endblock %}

{% block body_script %}
<script>
    $(document).ready(function () {
        $(document).on('change', '#daterange', on_dropdown_change);
        $(document).on('change', '#language', on_dropdown_change);
    });

    function on_dropdown_change() {
        var daterange = $('#daterange').find(":selected").attr('data-tokens');
        var language = $('#language').find(":selected").attr('data-tokens');
        window.location = '/trending/' + language + "?since=" + daterange;
    }
</script>
{% endblock %}




