<div class="container-fluid" id="cards">

    {% for item in trending %}
    <div class="card">
        <div class="card-body">
            <div class="container-fluid">
                <div class="row">
                    <h4><a href="#">{{item.author}}</a>/<b><a href="#">{{item.repo_name}}</a></b></h4>
                    <div class="ml-auto"><p class="float-right">{{item.rank}}</p></div>
                </div>
            </div>

            <p class="card-text">{{item.description}}</p>
            {% if item.lang != "" %}
            <p class="card-text">{{item.lang}}, {{item.star}} stars, {{item.fork}} forks</p>
            {% else %}
            <p class="card-text">{{item.star}} stars, {{item.fork}} forks</p>
            {% endif %}

        </div>
    </div>
    {% endfor %}


</div>