{% extends "base.html" %}
{% load static %}
{% block page_content %}
<h1>{{ lang|add:"-"|add:date }}</h1>
<div class="data">
    <table>
        <tr>
            <th>author</th>
            <th>name</th>
            <th>desc</th>
            <th>rank</th>
            <th>lang</th>
            <th>star</th>
            <th>fork</th>
        </tr>
        {%for item in page%}
        <tr>
            <td> {{ item.author }}</td>
            <td> {{ item.repo_name }}</td>
            <td> {{ item.description }}</td>
            <td> {{ item.rank }}</td>
            <td> {{ item.lang }}</td>
            <td> {{ item.star }}</td>
            <td> {{ item.fork }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}