{% extends 'base.html' %}

{% block body_content %}
{% include "nav_api.html" %}
<div class="container">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th class="text-center">language</th>
            <th class="text-center">code</th>
            <th class="text-center">date range</th>
            <th class="text-center">last update</th>
        </tr>
        </thead>

        <tbody>
        {% for item in index %}
        <tr>
            <td class="text-center"> {{ item.page_name }}</td>
            <td class="text-center"> {{ item.page_code }}</td>
            <td class="text-center"> {{ item.page_date }}</td>
            <td class="text-center"> {{ item.update_time }}</td>
        </tr>
        {% endfor %}
        </tbody>

    </table>
</div>
{% endblock %}
