{% extends 'base.html' %}

{% block head_content %}
<title>Github Trending Timeline</title>
{% endblock %}

{% block body_content %}
{% include "nav_search.html" %}
<div class="container-fluid">
    <div class="card">
        <div class="card-body">
            <div class="container-fluid">
                <div class="row">
                    <h4><a href="#">{{author}}</a>/<b><a href="#">{{repo_name}}</a></b></h4>
                </div>
            </div>
            <p class="card-text">{{description}}</p>
            <p class="card-text">{{lang}}</p>

        </div>
    </div>

    <div class="container-fluid">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th class="text-center">#</th>
                <th class="text-center">start</th>
                <th class="text-center">end</th>
                <th class="text-center">rank</th>
            </tr>
            </thead>
            <tbody>
            {% for item in data %}
            <tr>
                <td class="text-center">{{item.seq}}</td>
                <td class="text-center">{{item.start}}</td>
                <td class="text-center">{{item.end}}</td>
                <td class="text-center">{{item.rank}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}