<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="/trending">Trending</a>
            <a class="nav-item nav-link" href="/search">Search</a>
            <div class="dropdown">
                <a class="nav-item nav-link dropdown-toggle" href="#" data-toggle="dropdown">API</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/api/info">readme</a>
                    <a class="dropdown-item" href="/api/name">page index by name</a>
                    <a class="dropdown-item" href="/api/time">page index by time</a>
                </div>
            </div>
            <a class="nav-item nav-link" href="#">About</a>
        </div>
    </div>
</nav>


<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4 text-center">Github Trending Tracker</h1>
        <p class="lead text-center">See what's popular now and what's popular in the past</p>
    </div>
</div>