{% extends 'base.html' %}

{% block head_content %}
<title>Github Trending Tracker</title>
{% endblock %}

{% block body_content %}
{% include "nav_search.html" %}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-8">
            <form class="card card-sm">
                <div class="card-body row no-gutters align-items-center">
                    <div class="col">
                        <div class="input-group">
                            <input class="form-control form-control-lg form-control-borderless"
                                   id="query" placeholder="enter a repo name or a repo owner's name...">
                        </div>
                    </div>
                    <div class="col-auto">
                        <button class="btn btn-lg btn-secondary" id="submit" type='button'>Search</button>
                    </div>
                </div>
            </form>
        </div>
    </div>


    <div class="container-fluid">
        {% for item in data %}
        <div class="card">
            <div class="card-body">
                <div class="container-fluid">
                    <div class="row">
                        <h4><a href="/record/?a={{item.author}}&r={{item.repo_name}}&c={{item.page_code}}&d={{item.page_date}}">
                            {{item.author}}/{{item.repo_name}}</a></h4>
                        <br>
                    </div>
                </div>
                <p class="card-text">{{item.description}}</p>
                <p class="card-text">{{item.lang}}</p>
                <p class="card-text">from page code: <b>{{item.page_code}}</b>, date range <b>{{item.page_date}}</b></p>


            </div>
        </div>
        {% endfor %}

    </div>
</div>
{% endblock %}

{% block body_script %}
<script>
    $(document).ready(function () {
        $("#submit").click(submit);
    });

    function submit() {
        var query = $('#query').val();
        console.log(query);
        window.location = '/search/?q=' + query;
    }
</script>
{% endblock %}
